
#wrap {
    /* width: 1020px; */
    /* border: 3px solid black; */
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

#header {
    /* width: 1000px; */
    /* border: 1px solid red; */
    margin: auto;
}

#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#navbar a {
    color: black;
    text-decoration: none;
    margin: 3px;
}
#navbar a:hover {
    color: rgb(191, 160, 122);
}

#content {
    /* width: 1000px; */
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-direction: column;
}


/* index.html */

.title {
    /* border: 1px solid green; */
    position: relative;
    animation-name: movingtext;
    animation-duration: 2s;
}
@keyframes movingtext {
    0% {left: 900px;}
    100% {left: 0px;}
}

.items {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgbox {
    /* border: 1px solid blue; */
    box-sizing: border-box;
    max-width: 30%;
    margin-top: 30px;
}
.imgbox img {
    width: 100%;
}

img.rotate {
    transition: transform 2s;
}
img.rotate:hover {
    transform: rotate(360deg);
}

img.big {
    transition: width 2s, height 2s;
}
img.big:hover {
    width: 100%;
    height: 100%;
}

.text_column {
    column-count: 2;
}


/* signup.html, login.html */

.reg_content {
    /* border: 1px solid blue; */
    width: 300px;
    font-size: 15px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.reg_content input {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border: 1px solid black;
    /* background-color: rgb(240, 240, 240); */
}
.reg_content input:focus {
    outline: none;
}

input.reg_submit {
    width: 205px;
    background-color: rgb(59, 75, 89);
    border: none;
    color: white;
    margin-bottom: 5px;
}

input.reg_cancel {
    width: 205px;
    border: none;
    background-color: rgb(240, 240, 240);
}


/* Responsive layout */
@media (max-width: 800px) {
    #navbar {
        flex-direction: column;
    }
    .imgbox {
        max-width: 48%;
    }
}

@media (max-width: 480px) {
    .imgbox {
        max-width: 100%;
    }
}